<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jboss.tools.hibernate.search.handler.IndexRebuildHandler"
            id="org.jboss.tools.hibernate.search.actions.indexrebuild"
            name="IndexRebuildAction">
      </command>
      <command
            defaultHandler="org.jboss.tools.hibernate.search.handler.IndexToolkitViewLaunchHandler"
            id="org.jboss.tools.hibernate.search.toolkit.IndexToolkitViewLaunchHandler"
            name="Open Index Toolkit">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.hibernate.eclipse.console.views.KnownConfigurationsView">
         <command
               commandId="org.jboss.tools.hibernate.search.actions.indexrebuild"
               label="Index Rebuild"
               style="push">
               <visibleWhen>
	                  <with
	                        variable="selection">
	                        <or>
			                     <and>
				                     <adapt type="org.eclipse.jface.viewers.ITreeSelection">
								         <test
                       forcePluginActivation="true"
                       property="org.jboss.tools.hibernate.search.isSameConfig"
                       value="true"/>
								     </adapt>
								     <iterate
			                              ifEmpty="false">
			                           <instanceof
			                                 value="org.jboss.tools.hibernate.runtime.spi.IPersistentClass">
			                           </instanceof>
			                        </iterate>
								 </and>
		                        <iterate 
		                        	  ifEmpty="false">
		                           <instanceof
		                                 value="org.hibernate.console.ConsoleConfiguration">
		                           </instanceof>
		                        </iterate>
	                     	</or>
	                  </with>
               </visibleWhen>
         </command>
         <command
               commandId="org.jboss.tools.hibernate.search.toolkit.IndexToolkitViewLaunchHandler"
               label="Open Index Toolkit"
               style="push">
            <visibleWhen>
               <with
                     variable="selection">
                     <count value="1"/>
	                  <iterate
	                           ifEmpty="false">
	                        <instanceof
	                              value="org.hibernate.console.ConsoleConfiguration">
	                        </instanceof>
	                     </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">iew>
      <view
            category="hibernatecategory"
            class="org.jboss.tools.hibernate.search.toolkit.IndexToolkitView"
            id="org.jboss.tools.hibernate.search.IndexToolkitView"
            name="Index Toolkit"
            restorable="false">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="org.jboss.tools.hibernate.search.OneParentConfigPropertyTester"
            id="org.jboss.tools.hibernate.search.OneParentConfigPropertyTester"
            namespace="org.jboss.tools.hibernate.search"
            properties="isSameConfig"
            type="org.eclipse.jface.viewers.ITreeSelection">
      </propertyTester>
   </extension>
</plugin>
