<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.hibernate.eclipse.console.views.KnownConfigurationsView">
         <command
               commandId="org.jboss.tools.hibernate.search.actions.indexrebuild"
               label="Index Rebuild"
               style="push">
         </command>
         <command
               commandId="org.jboss.tools.hibernate.search.actions.openanalyzers"
               label="Try analyzers"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.jboss.tools.hibernate.search.actions.IndexRebuildAction"
            id="org.jboss.tools.hibernate.search.actions.indexrebuild"
            name="IndexRebuildAction">
      </command>
      <command
            defaultHandler="org.jboss.tools.hibernate.search.actions.AnalyzersScratchpadAction"
            id="org.jboss.tools.hibernate.search.actions.openanalyzers"
            name="OpenAnalyzersAction">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.jboss.tools.hibernate.search.analyzers.AnalyzersEditor"
            default="false"
            id="org.jboss.tools.hibernate.search.analyzers.AnalyzersTestEditor"
            name="Analyzers Test">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="org.jboss.tools.hibernate.search.analyzers.AnalyzersEditorInputFactory"
            id="org.jboss.tools.hibernate.search.analyzers.AnalyzersTestEditorInputFactory">
      </factory>
   </extension>
 <!--  <extension
         point="org.hibernate.eclipse.console.actions">
      <action
            class="org.jboss.tools.hibernate.search.actions.IndexRebuildAction">
      </action>
   </extension> -->‡

</plugin>
